.Redline_mySet {
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-top: -10px;
    margin-left: -30px;
    content: "";
    display: block;
    background-color: #d60c18;
}

.Con70_mySet {
    width: 75%;
    margin-left: 12%;
}

.checked {
    color: orange;
}

.otro-blockquote {
    font-size: 1.4em;
    width: 60%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

pre {
    white-space: pre-wrap;
}

/*
Date: 24 Fev 2015
Author: Pedro Oliveira <kanytu@gmail . com>
*/
.highlight {
    color: #a9b7c6;
    background: #282b2e;
}

highlight.number,
highlight.literal,
highlight.symbol,
highlight.bullet {
    color: #6897BB;
}

highlight.keyword,
highlight.selector.tag,
highlight.deletion {
    color: #cc7832;
}

highlight.variable,
highlight.template.variable,
dhighlight.link {
    color: #629755;
}

highlight.comment,
highlight.quote {
    color: #808080;
}

highlight.meta {
    color: #bbb529;
}

hljs.string,
hljs.attribute,
hljs.addition {
  color: #6A8759;
}

highlight.section,
highlight.title,
highlight.type {
    color: #ffc66d;
}

highlight.name,
highlight.selector.id,
highlight.selector.class {
    color: #e8bf6a;
}

.highlight-emphasis {
    font-style: italic;
}

.highlight-strong {
    font-weight: bold;
}
