.Redline_mySet {
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-top: -10px;
    margin-left: -30px;
    content: "";
    display: block;
    background-color: #d60c18;
}

.Con70_mySet {
    width: 75%;
    margin-left: 12%;
}

.checked {
    color: orange;
}

.otro-blockquote {
    font-size: 1.4em;
    width: 60%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}